#about-container {
    width: 100%;
    margin: 0 auto;
    padding: 5%;
    border-radius: 10px;
}

#our-vision-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 2% 3%;
    border-radius: 10px;
    background-color: rgb(200, 200, 200);
}

#our-vision-title {
    width: fit-content;
    color: white;
    font-weight: bold;
    position: relative;
    padding: 2%;
    background-color: none;
    margin-left: 3%;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#our-vision-title:before {
    content: "";
    background-color: #043d59;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skewX(-20deg);
    border-radius: 5px;
}

#our-vision-logo {
    width: 60%;
    border-radius: 10px;
    padding: 1%;
    background-color: white;
    box-shadow: 5px 5px 10px black;
    text-align: center;
    margin-bottom: 5%;
    opacity: 0; 
    animation: up 2s ease-in-out forwards;
}

@keyframes up {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#header-our-vision-logo {
    color: #115871;
    text-shadow: 2px 2px 7px #043d59;
}

#our-vision-logo img {
    width: 90%;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0; 
    animation: up 2s ease-in-out forwards;
}
#our-vision-text {
    opacity: 0;
    animation: up 2s ease-in-out forwards;
}

@media (min-width: 900px) {
    #our-vision-container {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        width: 80%;
        margin: 0 auto;
    }

    #our-vision-text {
        width: 58%;
        font-size: 20px;
        opacity: 0;
        animation: up 2s ease-in-out forwards;
    }

    #our-vision-title {
        margin-left: 12%;
        animation: fadeIn 2s ease-in-out forwards;
    }

    #our-vision-logo {
        width: 38%;
        margin-bottom: 0%;
        opacity: 0; 
        animation: up 2s ease-in-out forwards;
    }
}
