#scheduleContainer{
    width:70%;
    margin-left:15%;
    margin-top:2%;
    margin-bottom: 2%;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
    padding:2%;
    text-align: center;
}
#schedulePageTitle{
    display: flex;
    justify-content: space-between;
}
#schedulePageTitle p{
    font-size: 30px;
    color:#076595;
    font-weight: bold;
}
@media (min-width:500px) and (max-width:650px){
    #scheduleContainer{
        width:85%;
        margin-left:7.5%;
    }
}
@media (max-width:499.9px){
    #scheduleContainer{
        width:95%;
        margin-left:2.5%;
    }
}
