#photographers-page-header{
    width: fit-content;
    color: white;
    font-weight: bold;
    position: relative;
    padding: 2%;
    background-color: none;
    margin-left: 10%;
    margin-top:13%;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#photographers-page-header:before {
    content: "";
    background-color: #043d59;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skewX(-20deg);
    border-radius: 5px;
}


#photographers-container-div{
    width:90%;
    margin-left:5%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    opacity: 0; 
    animation: up 2s ease-in-out forwards;
}

@keyframes up {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
#card-photographers-page{
    width:calc(88%/3);
    border-style: outset;
    border-width: 5px ;
    border-radius: 10px;
    padding: 1%;
}
#img-photographers-div{
    width:100%;
    height:300px;
    padding:2%;
    /* background-color: rgb(211, 211, 211); */
    border-radius: 50%;
}
#img-photographers-div img{
    /* border-width: 2px; */
    /* border-style: double; */
    border-radius: 50%;
    height:290px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(74, 74, 74);
}
#img-photographers-div img:hover{
    box-shadow: 5px 5px 10px gray;
}
#card-title-photographers{
    font-size: 30px;
    font-weight: bold;
}
#card-title-photographers a{
    text-decoration: none;
    color:#076594;
}

@media (min-width:750px) and (max-width:940px){
    #photographers-page-header{
        margin-top:20%;
    }
    #photographers-container-div{
        width:95%;
        margin-left:2.5%;
    }
    #card-photographers-page{
        width:calc(93%/3);
    }
}
@media (min-width:500px) and (max-width:749.9px){
    #photographers-page-header{
        margin-top:25%;
    }
    #photographers-container-div{
        width:95%;
        margin-left:2.5%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #card-photographers-page{
        width:calc(93%/2);
        margin-bottom: 2%;
    }
}
@media (min-width:330px) and (max-width:499.9px){
    #photographers-page-header{
        margin-top:40%;
    }
    #photographers-container-div{
        width:95%;
        margin-left:2.5%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #card-photographers-page{
        margin-bottom: 2%;
        width:100%;
    }
}
@media (max-width:329.9px){
    #photographers-page-header{
        margin-top:50%;
    }
    #photographers-container-div{
        width:95%;
        margin-left:2.5%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #card-photographers-page{
        margin-bottom: 2%;
        width:100%;
    }
}

